<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://raiden-map-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/de3aebdd-b60c-4a43-b96f-543adbe2d2c1/resourceGroups/raiden-map/providers/Microsoft.Web/sites/raiden-map-api</ResourceId>
    <UserName>$raiden-map-api</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://raiden-map-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>